<header>
  <nav *ngIf="!isLogged" class="navbar navbar-dark bg-dark">
      <a class="navbar-brand" [routerLink]="['login']">Login</a>
      <a class="navbar-brand" [routerLink]="['register']">Créer un compte</a>
  </nav>
  <nav *ngIf="isLogged" class="navbar navbar-dark bg-dark">
      <a class="navbar-brand" [routerLink]="['']">Accueil</a>
      <a class="navbar-brand" [routerLink]="['order/add']">Nouvelle commande</a>
    <button class="btn btn-warning" (click)="disconnecter()">Déconnecter</button>
  </nav>
</header>
<router-outlet></router-outlet>


